/references/amf/amf3.py
/references/amf/call01_request.body.bin
/references/amf/call01_request.strings.txt
/references/amf/call01_response.b64
/references/amf/call01_response.bin
/references/amf/call01_response.decoded.json
/references/amf/call02_request.body.bin
/references/amf/call02_request.strings.txt
/references/amf/call02_response.b64
/references/amf/call02_response.bin
/references/amf/call02_response.decoded.json
/references/amf/call03_request.body.bin
/references/amf/call03_request.strings.txt
/references/amf/call03_response.b64
/references/amf/call03_response.bin
/references/amf/call03_response.decoded.json.gz
/references/amf/call03_response.schema.json
/references/amf/call04_request.body.bin
/references/amf/call04_request.strings.txt
/references/amf/call04_response.b64
/references/amf/call04_response.bin
/references/amf/call04_response.decoded.json
/references/amf/call05_request.body.bin
/references/amf/call05_request.strings.txt
/references/amf/call05_response.b64
/references/amf/call05_response.bin
/references/amf/call05_response.decoded.json
/references/amf/call06_request.body.bin
/references/amf/call06_request.strings.txt
/references/amf/call06_response.b64
/references/amf/call06_response.bin
/references/amf/call06_response.decoded.json
/references/amf/call07_request.body.bin
/references/amf/call07_request.strings.txt
/references/amf/call07_response.b64
/references/amf/call07_response.bin
/references/amf/call07_response.decoded.json
/references/amf/call08_request.body.bin
/references/amf/call08_request.strings.txt
/references/amf/call08_response.b64
/references/amf/call08_response.bin
/references/amf/call08_response.decoded.json
/references/amf/decode.py
/references/amf/example-requests.md
/references/amf/README.md
/references/amf/req.txt
/references/amf/start_timed_production_91_response.b64
/references/xml/achievements/achievement_categories_and_weekly_rewards.xml
/references/xml/achievements/reactions.xml
/references/xml/achievements/trigger_ui_details.xml
/references/xml/achievements/triggers.xml
/references/xml/advent_calendar/advent_calendar.xml
/references/xml/collections/collectibles_and_loot.xml
/references/xml/community/community_votes.xml
/references/xml/epic_workyard/epic_workyard_corn_building_rewards.xml
/references/xml/epic_workyard/epic_workyard_wood_recipes.xml
/references/xml/epic_workyard/epic_workyards_positions.xml
/references/xml/events/game_events.xml
/references/xml/events/guild_fest_contest.xml
/references/xml/events/move_events.xml
/references/xml/gfx/ui/combat3battlecloud.xml
/references/xml/gfx/gfx_settings_256c6645.xml
/references/xml/gfx/gfx_settings_a742ef6a.xml
/references/xml/help/help_definitions.xml
/references/xml/loca/localization_oasis.xml
/references/xml/loca/localization_oasis_en.xml
/references/xml/quest/adventure/10thAnniv_Cake_Main.xml
/references/xml/quest/adventure/Adv_BeautifulPrincess_Q1.xml
/references/xml/quest/adventure/Adv_BesiegedCity_Q1.xml
/references/xml/quest/adventure/Adv_Birthday2013_Event_01.xml
/references/xml/quest/adventure/Adv_Birthday2013_Event_02.xml
/references/xml/quest/adventure/Adv_Birthday2013_Event_03.xml
/references/xml/quest/adventure/Adv_Birthday2013_Event_04.xml
/references/xml/quest/adventure/Adv_Birthday2013_Event_05.xml
/references/xml/quest/adventure/Adv_Birthday2013_Military2_01.xml
/references/xml/quest/adventure/Adv_Birthday2013_Military_01.xml
/references/xml/quest/adventure/Adv_Christmas2013_Q1.xml
/references/xml/quest/adventure/Adv_Easter_Event_01.xml
/references/xml/quest/adventure/Adv_Easter_Event_02.xml
/references/xml/quest/adventure/Adv_Easter_Event_03.xml
/references/xml/quest/adventure/Adv_Easter_Event_04.xml
/references/xml/quest/adventure/Adv_Easter_Event_05.xml
/references/xml/quest/adventure/Adv_Easter_Event_06.xml
/references/xml/quest/adventure/Adv_Easter_Event_07.xml
/references/xml/quest/adventure/Adv_Easter_Event_08.xml
/references/xml/quest/adventure/Adv_Easter_Event_09.xml
/references/xml/quest/adventure/Adv_Easter_Event_10.xml
/references/xml/quest/adventure/Adv_EoWEventQ1.xml
/references/xml/quest/adventure/Adv_FirstThief_Q1.xml
/references/xml/quest/adventure/Adv_OilLamp_Q1.xml
/references/xml/quest/adventure/Adv_SeaSnake_Q1.xml
/references/xml/quest/adventure/Adv_SecondThief_Q1.xml
/references/xml/quest/adventure/Adv_TheBetrayedLittleTailorQ1.xml
/references/xml/quest/adventure/Adv_TheCleverLittleTailorQ1.xml
/references/xml/quest/adventure/Adv_TheHeroicLittleTailorQ1.xml
/references/xml/quest/adventure/Adv_TheNords2Q1.xml
/references/xml/quest/adventure/Adv_TheSonsOfTheLittleTailorQ1.xml
/references/xml/quest/adventure/Adv_TheValiantLittleTailorQ1.xml
/references/xml/quest/adventure/Adv_TheWoodcutterMain_Q1.xml
/references/xml/quest/adventure/Adv_ThirdThief_Q1.xml
/references/xml/quest/adventure/Adv_TreasureKnowledge_Q1.xml
/references/xml/quest/adventure/Adv_TreasureWisdom_Q1.xml
/references/xml/quest/adventure/Adv_TwinTown_NoEnd_Start.xml
/references/xml/quest/adventure/AdvDefeatAllBanditleader.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_1b4fad73.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_1c7a2619.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_2f7356ac.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_4ef7cc60.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_5a6e86b6.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_5f76c10e.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_57c69f8f.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_91e963f8.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_166ef8b4.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_624ccd0c.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_22196de5.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_250985db.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_a747da21.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_b4cf26fb.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_bd7ee157.xml
/references/xml/quest/adventure/AdvDefeatAllBandits_d0d38244.xml
/references/xml/quest/adventure/AdvDefeatAllDarkCastles.xml
/references/xml/quest/adventure/AdvDefeatAllDarkCastlesAndBonechurches_3e432638.xml
/references/xml/quest/adventure/AdvDefeatAllDarkCastlesAndBonechurches_c35ad588.xml
/references/xml/quest/adventure/AdvDefeatAllWitchtower_b9f8c6db.xml
/references/xml/quest/adventure/AdvDefeatAllWitchtower_b68b1e66.xml
/references/xml/quest/adventure/AdvDefeatCroaker.xml
/references/xml/quest/adventure/adventures_index.xml
/references/xml/quest/adventure/AdvPlaceGarrison_66d3b152.xml
/references/xml/quest/adventure/AdvPlaceGarrison_a7677d26.xml
/references/xml/quest/adventure/BAUMP1.xml
/references/xml/quest/adventure/BuccaneerRoundupQ1.xml
/references/xml/quest/adventure/Buff_Adv_StormRecovery_MainQuest.xml
/references/xml/quest/adventure/BuffAd4_Riches_of_the_Mountain_Main1.xml
/references/xml/quest/adventure/BuffAd_Dragons_Roost_Main.xml
/references/xml/quest/adventure/BuffAd_HeartOfTheWoods_Main.xml
/references/xml/quest/adventure/BuffAd_Lost_City_Main.xml
/references/xml/quest/adventure/BuffAd_Of_Songs_And_Curses_Main.xml
/references/xml/quest/adventure/BuffAd_Raid_of_the_Nords_Main.xml
/references/xml/quest/adventure/BuffAd_SafeTheTowns_Main.xml
/references/xml/quest/adventure/BuffAd_twins_Main.xml
/references/xml/quest/adventure/BuffAdv_El_Chupacabra_Main.xml
/references/xml/quest/adventure/BuffAdv_Evil_Queen_Fisherman_Main1.xml
/references/xml/quest/adventure/BuffAdv_Evil_Queen_Hansel_Gretel_Main1.xml
/references/xml/quest/adventure/BuffAdv_Evil_Queen_Piper_of_Hamelin_Main1.xml
/references/xml/quest/adventure/BuffAdv_Evil_Queen_Red_Riding_Hood_Main1.xml
/references/xml/quest/adventure/BuffAdv_Evil_Queen_Snow_White_Main1.xml
/references/xml/quest/adventure/BuffAdv_Miners_Main1.xml
/references/xml/quest/adventure/BuffAdv_OneStepAhead_Main.xml
/references/xml/quest/adventure/BuffAdv_Race_Main1.xml
/references/xml/quest/adventure/BuffAdv_TF_Introduction_Main1.xml
/references/xml/quest/adventure/BuffAdv_TF_Stage02_Main1.xml
/references/xml/quest/adventure/BuffAdv_TMC_V1_Main1.xml
/references/xml/quest/adventure/BuffAdv_TMC_V2_Main.xml
/references/xml/quest/adventure/BuffAdv_TMC_V3_Main1.xml
/references/xml/quest/adventure/BuffAdv_TMC_V4_Main.xml
/references/xml/quest/adventure/BuffAdv_TMC_V5_Main1.xml
/references/xml/quest/adventure/CollectAllCollectiblesAdventure.xml
/references/xml/quest/adventure/CoopLakesideTreasureQ1.xml
/references/xml/quest/adventure/CoopWhirlwindQ1.xml
/references/xml/quest/adventure/Easter_Event_2015_Buff_Adventure_MainQuest.xml
/references/xml/quest/adventure/EMEventAdvQ1.xml
/references/xml/quest/adventure/EMEventAdvQ2.xml
/references/xml/quest/adventure/EMEventAdvQ3.xml
/references/xml/quest/adventure/EMEventAdvQ4.xml
/references/xml/quest/adventure/EMEventAdvQ5.xml
/references/xml/quest/adventure/EMEventAdvQ6.xml
/references/xml/quest/adventure/ExpDefeatLastBoss_28eb9b57.xml
/references/xml/quest/adventure/ExpDefeatLastBoss_52b6c384.xml
/references/xml/quest/adventure/GarrunQ1.xml
/references/xml/quest/adventure/HWCampaign1_Adv1_Main.xml
/references/xml/quest/adventure/HWCampaign1_Adv2_Main.xml
/references/xml/quest/adventure/HWCampaign1_Adv3_Main.xml
/references/xml/quest/adventure/MiadArcticExplosionMain.xml
/references/xml/quest/adventure/MiadBastilleIslandMain.xml
/references/xml/quest/adventure/MiadPirateLifeMain.xml
/references/xml/quest/adventure/MiadSleepyReefMain.xml
/references/xml/quest/adventure/MiadTheLostSkullMain.xml
/references/xml/quest/adventure/MiadTheSleepingVolcanoMain.xml
/references/xml/quest/adventure/MiadTropicalSunMain.xml
/references/xml/quest/adventure/RaidingtheRaidersQ1.xml
/references/xml/quest/adventure/SplitCity_Main.xml
/references/xml/quest/adventure/SplitCityFall_Main.xml
/references/xml/quest/adventure/TheSiegeQ1.xml
/references/xml/quest/adventure/TombRaidersQ1.xml
/references/xml/quest/adventure/TwinTown_Cave1_Main.xml
/references/xml/quest/adventure/WMEventAdvQ1Main.xml
/references/xml/quest/adventure/WMEventAdvQ2.xml
/references/xml/quest/adventure/WMEventAdvQ3.xml
/references/xml/quest/adventure/WMEventAdvQ4.xml
/references/xml/quest/adventure/WMEventAdvQ5.xml
/references/xml/quest/adventure/WMEventAdvQ6.xml
/references/xml/quest/adventure/WMEventAdvQ7.xml
/references/xml/quest/adventure/XMASEventAdv_1a8a1b60.xml
/references/xml/quest/adventure/XMASEventAdv_1d0f679b.xml
/references/xml/quest/adventure/XMASEventAdv_76c0b7f6.xml
/references/xml/quest/adventure/XMASEventAdv_86bb867a.xml
/references/xml/quest/adventure/XMASEventAdv_408beb3b.xml
/references/xml/quest/adventure/XMASEventAdv_786c395b.xml
/references/xml/quest/adventure/XMASEventAdv_2949ed14.xml
/references/xml/quest/adventure/XMASEventAdv_d45f2f71.xml
/references/xml/quest/adventure/XMASEventAdv_ed0fc538.xml
/references/xml/quest/adventure/XMASEventCookieAdv_1e6c4a96.xml
/references/xml/quest/adventure/XMASEventCookieAdv_9e689b4f.xml
/references/xml/quest/adventure/XMASEventCookieAdv_b1e95fad.xml
/references/xml/quest/adventure/XMASEventCookieAdv_Main_1a4de383.xml
/references/xml/quest/adventure/XMASEventCookieAdv_Main_8751a76f.xml
/references/xml/quest/adventure/XMASEventCookieAdv_Main_b7591910.xml
/references/xml/quest/event/Birthday2018plusSpawnFestivalHall.xml
/references/xml/quest/event/CQ2_ChainFilter.xml
/references/xml/quest/event/CQC3_ChainFilter.xml
/references/xml/quest/event/CQC4_ChainFilter.xml
/references/xml/quest/event/Easter2015_StartEvent.xml
/references/xml/quest/event/Easter2018plus_TutChainFilter.xml
/references/xml/quest/event/GuildFest_SpawnGuildFestGrounds.xml
/references/xml/quest/event/HW2017plus_EventMonster_Reach19.xml
/references/xml/quest/event/RedNose_DonateStuff.xml
/references/xml/quest/event/Soccer2018plus_questchain_levelrequirement.xml
/references/xml/quest/event/Unity_Main.xml
/references/xml/quest/event/Valentines2019plus_TutorialMain.xml
/references/xml/quest/event/XMAS2016_SpawnTree.xml
/references/xml/quest/event/XmasMarket_ChainFilter.xml
/references/xml/quest/_DebugQuest_.xml
/references/xml/quest/BonusAdvancedFairytaleAdventure.xml
/references/xml/quest/BuffQuestMysteriousCoin.xml
/references/xml/quest/BuiBonus_HauntedMansion_Start.xml
/references/xml/quest/CollectAllCollectibles.xml
/references/xml/quest/DailyLoginBonus0.xml
/references/xml/quest/DailyQuestLevelRequirement.xml
/references/xml/quest/GuildSize10.xml
/references/xml/quest/HWGeologist1.xml
/references/xml/quest/LevelUnused.xml
/references/xml/quest/LoveGarden_FirstStart.xml
/references/xml/quest/MainEpic.xml
/references/xml/quest/MainPremium.xml
/references/xml/quest/SophisticatedPillager_BanditNest.xml
/references/xml/quest/SSExplorerCompleteTree.xml
/references/xml/quest/SSGeneralCompleteTree.xml
/references/xml/quest/SSGeologistCompleteTree.xml
/references/xml/quest/SSProductivityCL2.xml
/references/xml/quest/Starfall_ReachLevel40.xml
/references/xml/quest/TutAdvancedNewSectorChain.xml
/references/xml/quest/TutBonusWood.xml
/references/xml/quest/TutContentGeneratorUnlock.xml
/references/xml/quest/TutGuildMarketVote.xml
/references/xml/quest/TutMainPvPStage01.xml
/references/xml/quest/TwinTown_LevelRequirement.xml
/references/xml/quest/UnlockEW_WoodToPlankRank2.xml
/references/xml/quest/WeeklyChallenge_ReachLevel26.xml
/references/xml/settings/client_configuration.xml
/references/xml/settings/game_units.xml
/references/xml/shop/black_market_config.xml
/references/xml/shop/item_limits.xml
/references/xml/shop/shop_config.xml
/references/xml/shop/shop_group_adventure_seasons.xml
/references/xml/shop/shop_group_guild_market.xml
/references/xml/skill/science_system_skillPoints.xml
/references/xml/skill/science_system_skills_d8814d6b.xml
/references/xml/skill/science_system_skills_dec1e88c.xml
/references/xml/skill/science_system_skills_dfc407dd.xml
/references/xml/skill/science_system_skills_ec452854.xml
/references/xml/adventure.xml
/references/xml/collections.xml
/references/xml/en_lang.xml
/references/xml/globals.xml
/references/xml/icons.xml
/references/xml/README.md
/references/client_scripts.txt
/references/README.md
/.idea/.gitignore
/.idea/battle-sim.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/php-inspections-ea-ultimate.xml
/.idea/vcs.xml
